.topic{
border: 2px solid rgb(70, 67, 67);
margin: 5px;
border-radius: 10px;
background-color: rgb(96, 1, 91);

width: 300px;
padding: 10px;
}
.topic img{
    width:  100%;
    margin: 10px;
    padding-right: 10px;
}
.quiz-btn{
    color: white;
    background-color: rgb(151, 8, 144);
}
.quiz-btn:hover{
    background-color: rgb(175, 58, 169);
}
@media screen and (max-width:767px){
    .topic{
       /* width: ; */
       padding: 10px;
       margin:0%;

    }
    
    
}